@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@font-face {
    font-family: Aloja;
    src: url(Aloja-extended.otf);
}
@font-face {
    font-family: Agrandir;
    src: url(Agrandir-GrandLight.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0D192;
    background-image: url(fundo\ body.png);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 35%;
}

header{
    background-color: #f1f9f1;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arima';
    font-weight: 600;
}

a, a:visited{
    text-decoration: none;
    color: black;
    width: 90px;
}

#painel {
    width: 100px;
}

#conteudo{
    margin-top: 50px;
}

#titulo{
    font-family: 'Aloja';
    text-align: center;
}

#texto1{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Agrandir';
    font-weight: 500;
    font-size: 27px;
}

#faixa{
    top: 30%;
    transform: translateY(-50%);
    transform: rotate(-270deg); 
    transform-origin: left bottom; 
    white-space: nowrap; 
    position:absolute; 
    left: 1750px; 
    font-family: 'Arima';
    font-size: 40px;
    color: #f1f9f1;
}

#imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arima';
    font-weight: 800;
    margin-left: 200px;
}

#imagem1, #imagem2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.imagemtexto{
    width: 15%;
}
button{
    background: #f1f9f1;
    font-family: 'Arima';
    font-size: x-large;
    font-weight: bold;
    position: relative;
    color: black;
    top: 10%;
    left: 20px;
    border: none;
    padding: 30px;
    margin: 30px;
    cursor: pointer;
}